# Application
APP_PORT=3000
NODE_ENV=development

# Swagger — set to 'true' to disable in production
SWAGGER_DISABLED=false

# JWT
JWT_SECRET=change_this_to_a_random_strong_secret_min_32_chars
JWT_EXPIRES_IN=1d

# Database (MSSQL)
DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_DATABASE=BookstoreDB

# Admin Seed (used by seeder script)
ADMIN_EMAIL=admin@bookstore.com
ADMIN_PASSWORD=Admin@1234
ADMIN_FULL_NAME=Super Admin
